.filters-wrapper {
    background-color:#fff;
    min-width: 150px;
    height: 100%;
    min-height: 525px;
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 25px -3px black;
    margin-left: 25px;
}

.filters-wrapper h4 {
    margin-left: 5px;
    text-align: start;
    width: 250px;
}